<div class="col-md-12 p-3 p-md-5">
<div class="p-3 p-md-5 grape text-center rounded shadow-sm">
<h3><strong><a href="/" class="text-white">{{info4}}</a></strong></h3>
<p>{{info4text}}</p>
</div>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info4}}</a></strong></h3>
<p>{{info4text}}</p>
</div>
<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" loading="lazy" alt="{{info4}}" width="100%" height="100%" src="{{info4banner}}"/>
</div>
<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" loading="lazy" alt="{{info5}}" width="100%" height="100%" src="{{info5banner}}"/>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info5}}</a></strong></h3>
<p>{{info5text}}</p>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info6}}</a></strong></h3>
<p>{{info6text}}</p>
</div>
<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" loading="lazy" alt="{{info6}}" width="100%" height="100%" src="{{info6banner}}"/>
</div>