<div class="row head">
<div class="col-md-12 p-3">
<img class="img-fluid" alt="{{metadata.title}}" width="100%" height="100%" src="{{introbanner}}"/>
</div>
{% include "widgets/home/section.njk" %}
{% include "widgets/home/info.njk" %}
{% include "widgets/home/cloud.njk" %}
{% include "widgets/home/footer.njk" %}
</div>