<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" alt="{{info1}}" loading="lazy" width="100%" height="100%" src="{{info1banner}}"/>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info1}}</a></strong></h3>
<p>{{info1text}}</p>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info2}}</a></strong></h3>
<p>{{info2text}}</p>
</div>
<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" alt="{{info2}}" loading="lazy" width="100%" height="100%" src="{{info2banner}}"/>
</div>
<div class="col-md-6 p-3 p-md-5">
<img class="img-fluid" alt="{{info3}}" loading="lazy" width="100%" height="100%" src="{{info3banner}}"/>
</div>
<div class="col-md-6 p-3 p-md-5">
<h3><strong><a href="/">{{info3}}</a></strong></h3>
<p>{{info3text}}</p>
</div>