<!doctype html>
<html lang="{{metadata.language}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widgets/seo.njk" %}
{% include "widgets/css.njk" %}
</head>
<body>