{% include "widgets/head.njk" %}
{% include "widgets/home/start.njk" %}
{% include "widgets/home/intro.njk" %}
{% include "widgets/home/content.njk" %}
{% include "widgets/main.njk" %}
{% include "widgets/script.njk" %}